@font-face {
    font-family: THSarabunNew;
    src: url(../fonts/THSarabunNew.ttf);
}

@font-face {
    font-family: THSarabunNew-Bold;
    src: url(../fonts/THSarabunNew-Bold.ttf);
}

@font-face {
    font-family: cordia;
    src: url(../fonts/cordia.ttf);
}

@font-face {
    font-family: THSarabunNew-BoldItalic;
    src: url(../fonts/THSarabunNew-BoldItalic.ttf);
}

@font-face {
    font-family: THSarabunNew-Italic;
    src: url(../fonts/THSarabunNew-Italic.ttf);
}

.FontMenu{
	font-family: THSarabunNew;
	font-size:  22px !important;
}

.TextFontTitleSlide{
	font-family: THSarabunNew;
	font-size:  80px !important;
}

.TextFontDetailSlide{
	font-family: THSarabunNew;
	font-size:  25px !important;
}

.FormSearch .label_formsearch{
	font-family: THSarabunNew !important;
	font-size:  25px !important;
}

@media (max-width: 991.98px) {
	.overlay{
		margin-top: 72px;
	}

	.TextFontTitleSlide{
		margin-top: 20%;
    	text-align: center;
	}

	.TextFontDetailSlide{
    	text-align: center;
	}
}

.IconStatus_open , .IconStatus_open>p{
	background: #c0f0bc;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
	border-radius: 50px;
}

.TextClassStatus_open{
	color : #4bae44;
	display: inline-block;
}

.IconStatus_close{
	background: #fad2d2;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50px;
}

.TextClassStatus_close{
	color : #d96969;
	display: inline-block;
}

.ImageEdit{
    width: 15px;
    display: block;
    margin: 5px auto;
    cursor: pointer;
}

.ImageDelete{
	width: 15px;
    display: block;
    margin: 5px auto;
    cursor: pointer;
}


.labelHead{
	font-family: THSarabunNew;
	font-size:  23px !important;
	color : black;
}

.labelContent{
	font-family: THSarabunNew;
	font-size:  23px !important;
	color : black;
}

.table{
	font-family: THSarabunNew;
	font-size:  23px !important;
	color : black;
}

.xButtonCancel:hover , .xButtonSave:hover , .xButtonInsert:hover{
	background-color: #e0812e;
}

.xButtonInsert {
	background-color: #f19342;
	border-radius: 50px;
	width: 40px;
	height: 40px;
	color: #FFF;
	border: 0px solid;
	box-shadow: 2px 2px 6px rgba(178, 178, 178, 0.69);
	cursor: pointer;
	float: right;
}

.xButtonCancel {
	background-color: #8e8e8e;
	width: 140px;
	height: 40px;
	font-family: THSarabunNew;
	font-size:  23px !important;
	color: #FFF;
	border: 0px solid;
	box-shadow: 2px 2px 6px rgba(178, 178, 178, 0.69);
	cursor: pointer;
	float: right;
	margin-left : 20px;
}


.xButtonSave {
	background-color: #f19342;
	width: 140px;
	height: 40px;
	color: #FFF;
	font-family: THSarabunNew;
	font-size:  23px !important;
	border: 0px solid;
	box-shadow: 2px 2px 6px rgba(178, 178, 178, 0.69);
	cursor: pointer;
	float: right;
	margin-left : 20px;
}

/*CSS สำหรับ ปุ่มนักท่องเที่ยว + มัคคุเทศน์ */ 
.BTNSelectBooking{
	width	:250px; 
	font-family: THSarabunNew;
	font-size:  25px !important;
	border-radius: 0px;
}

/*CSS สำหรับ ปุ่มนักท่องเที่ยว + มัคคุเทศน์ */ 
.BTNRegis{
	width	:250px; 
	font-family: THSarabunNew;
	font-size:  25px !important;
	border-radius: 0px;
}

.BTNRegisActive{
	opacity: 1;
}

.BTNRegisDefaule{
	opacity: 0.5;
}

/*CSS สำหรับ การเลือกรูปภาพ */ 
.xCNImgCenter{
	border-radius: 50%;
	width: 250px;
	height: 250px;
	text-align: center;
	display: block;
	margin: 0px auto;
	border: 1px solid #e0e0e0;
}

.xCNImgCenterBox{
	width: 250px;
	height: 350px;
	text-align: center;
	display: block;
	margin: 0px auto;
	border: 1px solid silver;
}

.xCNChooseImage{
	margin: 45px auto;
	display: block;
	padding: 8px 80px !important;
	font-family: THSarabunNew;
	font-size:  20px !important;
}

/*CSS สำหรับ กดปุ่มลงทะเบียน */ 
.BTNConfirmRegis{
	width	:250px; 
	font-family: THSarabunNew;
	font-size:  25px !important;
	border-radius: 0px;
}

/*CSS ส่วนของ From ลูกค้าทั่วไป */
#divRegisCustomer label{
	font-family: THSarabunNew;
	font-size:  25px !important;
	color : black;
}

#divRegisCustomer input , textarea{
	font-family: THSarabunNew;
	font-size:  20px !important;
}

#divRegisCustomer input , textarea{
	font-family: THSarabunNew;
	font-size:  20px !important;
}

/*CSS ส่วนของ From มัคคุเทศน์ */
#divRegisGuide label{
	font-family: THSarabunNew;
	font-size:  25px !important;
	color : black;
}

#divRegisGuide input , textarea{
	font-family: THSarabunNew;
	font-size:  20px !important;
}

#divRegisGuide input , textarea{
	font-family: THSarabunNew;
	font-size:  20px !important;
}

/*CSS ส่วนของ From ผู้ดูแลระบบ */
#divRegisAdmin label{
	font-family: THSarabunNew;
	font-size:  25px !important;
	color : black;
}

#divRegisAdmin input , textarea{
	font-family: THSarabunNew;
	font-size:  20px !important;
}

#divRegisAdmin input , textarea{
	font-family: THSarabunNew;
	font-size:  20px !important;
}

/*CSS ส่วนของ From เรท */
#divRegisRate label{
	font-family: THSarabunNew;
	font-size:  25px !important;
	color : black;
}

#divRegisRate input , textarea{
	font-family: THSarabunNew;
	font-size:  20px !important;
}

#divRegisRate input , textarea{
	font-family: THSarabunNew;
	font-size:  20px !important;
}

/*CSS ส่วนของ From แพ็กเกจ */
#divRegispackage label{
	font-family: THSarabunNew;
	font-size:  25px !important;
	color : black;
}

#divRegispackage input , textarea{
	font-family: THSarabunNew;
	font-size:  20px !important;
}

#divRegispackage input , textarea{
	font-family: THSarabunNew;
	font-size:  20px !important;
}

/*CSS ส่วนของ From แอดมินเเก้ไขลูกค้า */
#divManageCustomer label{
	font-family: THSarabunNew;
	font-size:  25px !important;
	color : black;
}

#divManageCustomer input , textarea{
	font-family: THSarabunNew;
	font-size:  20px !important;
}

#divManageCustomer input , textarea{
	font-family: THSarabunNew;
	font-size:  20px !important;
}

/*CSS สำหรับ selected*/ 
.FontSelect2{
	font-family: THSarabunNew;
	font-size:  22px !important;
}

.select2-selection__rendered {
	font-family: THSarabunNew;
	font-size:  22px !important;
}

.select2-selection__rendered {
	line-height: 40px !important;
}

.select2-container .select2-selection--single {
	height: 40px !important;
}

.select2-selection__arrow{
	top : 5px !important;
}

.select2-container--default .select2-selection--single{
	border: 1px solid #ced4da;
}

.select2-container--default .select2-selection--multiple{
	border: 1px solid #ced4da !important;
}

/*CSS สำหรับ หน้าจอแจ้งเตือน */ 
.swal2-title{
	font-family: THSarabunNew;
	font-size:  30px !important;
}

.swal2-html-container{
	font-family: THSarabunNew;
	font-size:  30px !important;
}

.textActiveMenuBar{
	color: #f19342;
    font-weight: 700;
    cursor: pointer;
}

.textDowloadFile{
	margin-left:15px;
	color: #f19342;
	font-family: THSarabunNew;
    font-size: 20px !important;
    text-align: right;
	font-weight: bold;
	text-decoration: underline;
	letter-spacing: 1px !important;
	cursor: pointer;
	display:inline-block;
}

.textDowloadFileDisabled{
	margin-left:15px;
	color: #ffcfae;
	font-family: THSarabunNew;
    font-size: 20px !important;
    text-align: right;
	font-weight: bold;
	text-decoration: underline;
	letter-spacing: 1px !important;
	cursor: no-drop;
	display:inline-block;
}

@media (max-width: 1200px) {
	.CNBlockPackage{
    	height: 200px !important;
	}
}

@media (max-width: 767px) {
	.CNBlockPackage{
    	height: 65px !important;
	}
}

.CNBlockPackage{
	height: 65px;
}

.textMain_Show{
	color: black;
	font-family: THSarabunNew;
    font-size: 45px !important;
	font-weight: bold;
	letter-spacing: 0.5px !important;
	display:inline-block;
}

.CenterDisabledBTN{
	cursor: no-drop;
    pointer-events: none;
}

.GuideTag{
	display: inline-block;
	width: auto;
	background: #ec6941;
	margin-right: 10px;
	padding: 0px 10px;
	margin-bottom: 10px;
}

.GuideTaglabel{
	color : #FFF !important;
	margin: 0px;
}

#divPayment label{
	font-family: THSarabunNew;
	font-size:  25px !important;
	color : black;
}

#divPayment input , textarea{
	font-family: THSarabunNew;
	font-size:  20px !important;
}

#ModalLogin label{
	font-family: THSarabunNew;
	font-size:  25px;
	color : black;
}

#ModalLogin input{
	font-family: THSarabunNew;
	font-size:  20px !important;
}

.FontLogin{
	font-family: THSarabunNew;
	font-size:  28px !important;
	margin: 0px;
	color: #FFF !important;
}

.FontLoginClick{
	font-family: THSarabunNew;
	font-size:  22px !important;
	padding: 5px 30px;
}

#ModalLoginBeforeBooking label{
	font-family: THSarabunNew;
	font-size:  25px;
	color : black;
}

#ModalLoginBeforeBooking input{
	font-family: THSarabunNew;
	font-size:  20px !important;
}


.FontLoginBeforeBookingClick{
	font-family: THSarabunNew;
	font-size:  22px !important;
	padding: 5px 30px;
}
